<div class="contacts contacts--mode-@@mode">
  <div class="contacts__top contacts__line">
    <a href='https://www.google.com.ua/maps/@50.4683653,30.4630763,18.27z?hl=ru' target="_blank" class="text link">
      04119 Kiev, Dorogozhitskaya str. 3, building B10
      </br>
      <div class="contacts__image">
          @@if (mode === 'header') {
            <img src="img/content/unit.svg" alt="">
          }
          @@if (mode === 'footer') {
            <img src="img/content/unit-black.svg" alt="">
          }
      </div>
    </a>
  </div>
  <!-- <div class="contacts__line">
      <a class="text link"></a>
  </div> -->
  <div class="contacts__bottom">
    <div class="contacts__line">
      <a href="tel:+380504723837" class="text link">+38 050 472 38 37</a>
    </div>
    <div class="contacts__line">
      <a href="mailto:mailbox@d2.digital" class="text link">mailbox@d2.digital</a>
    </div>
  </div>

</div>