<div class="page-footer">
  <div class="container-fluid">
    <div class="page-footer__container">

      <div class="page-footer__block">

        <h3 class="title title--sm">Customers</h3>

        @@include("sliders/customers/slider.html")
      </div>

      <div class="page-footer__block page-footer__block--contrast">
          @@include("sliders/services/slider.html")
          <a href="./img/content/download.pdf" target="_blank" class="btn btn--with-icon page-footer__btn">
            <span class="btn__text">Presentation</span>
            <svg class='icon icon-pdf'>
              <use xlink:href='img/sprite.svg#pdf'></use>
            </svg>
        </a>
      </div>

      <div class="page-footer__buttons">
        <button class="bth-square js-slide-prev">
          <svg class='icon icon-arrow_left'>
            <use xlink:href='img/sprite.svg#arrow_left'></use>
          </svg>
        </button>
        <button class="bth-square bth-square--contrast js-slide-next">
          <svg class='icon icon-arrow_right'>
            <use xlink:href='img/sprite.svg#arrow_right'></use>
          </svg>
        </button>
      </div>

    </div>
    <div class="page-footer__contacts">
      @@include('contacts.html', {"mode": "footer"})
    </div>
  </div>

</div>