<header class="page-header">
  <div class="container-fluid">
    <div class="page-header__container">
      <a href="" class="logo">
        <svg class='icon icon-logo'>
          <use xlink:href='img/sprite.svg#logo'></use>
        </svg>
      </a>

      <div class="page-header__part">
        @@include("navbar.html")
  
        @@include("social.html")
      </div>

      @@include("contacts.html", {"mode": "header"})
      
    </div>
  </div>

</header>