<ul class="navbar">
  <li class="navbar__item">
    <button class="navbar__link" modal-trigger='about-us'>About us</button>
  </li>
  <li class="navbar__item">
    <button class="navbar__link" modal-trigger='career'>Career</button>
  </li>
  <li class="navbar__item">
    <a href='https://medium.com/@d2digital' target="_blank" class="navbar__link navbar__link--active">Cases</a>
  </li>
</ul>