<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/libs.js"></script> 
@@if(context.maps == true){
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=googleMapLoaded"></script> }

<script src="js/common.js"></script>