<ul class="social">
  <li class="social__item">
    <a href="https://www.facebook.com/D2digitalua" target="_blank" class="icon-circle">
      <svg class='icon icon-fb'>
        <use xlink:href='img/sprite.svg#fb'></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="https://www.google.com/maps?cid=13694311046909719549" target="_blank" class="icon-circle">
      <svg class='icon icon-google'>
        <use xlink:href='img/sprite.svg#google'></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="https://www.linkedin.com/company/d2-digital-development" target="_blank" class="icon-circle">
      <svg class='icon icon-lin'>
        <use xlink:href='img/sprite.svg#lin'></use>
      </svg>
    </a>
  </li>
</ul>