.bth-square{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($black, .03);
  color: $black;
  transition: $transition-all;

  &:hover{
    color: rgba($black, .5);
  }

  &--contrast{
    color: $white;

    &:hover{
      color: rgba($white, .5);
    }
  }
  
}