.btn {
  @extend %btn-flex;

  position: relative;
  min-width: 140px;
  font-family: $font-default;
  transition: $transition-all;
  border-radius: 50px;
  background-color:#F3F9FF;
  padding: 0 40px;
  height: 60px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $gray;

  @include media('<sm') {
   border-radius: 0;
   justify-content: space-between;
   &:before, &:after{
     display: none;
   }
   }

  &:hover {
    color: rgba($gray, 0.8);

    .icon {
      color: rgba($color-text-contrast, 0.8);
    }
  }

  .icon {
    margin-left: 23px;
    color: $color-text-contrast;
    font-size: 20px;
  }

  &--with-icon {
    padding-left: 40px;
    padding-right: 23px;
    @include media('<sm') {
      padding-left: 28px;
      padding-right: 28px;
      }
  }

  &.disabled {
    background-color: #f2f2f2;
    color: #ccc;
    pointer-events: none;

    .icon {
      pointer-events: none;
    }
  }
}
