.check {
  display: flex;

  &__view {
    width: 20px;
    height: 20px;
    position: relative;
    display: block;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid #fff;
      z-index: 1;
      top: 0;
      left: 0;
      transform: rotate(0deg);
      transition: $transition-all;
    }

    &.is-checked {
      &:before {
        border-top: none;
        border-left: none;
        width: 40%;
        left: 6px;
        top: -2px;
        border-color: $color-text;
        transform: rotate(45deg);
      }
    }
  }

  &__description {
    padding-left: $padding-sm;
    font-size: $body-font-size;
    line-height: $body-font-size + 4;
    color: #fff;
    transition: $transition-all;

    &.is-checked {
      color: $color-text;
    }
  }

  &__input {
    display: none;

    &:checked {
      & ~ .check, & ~ .radio {
        &__view, &__description {
          @extend .is-checked;
        }
      }
    }
  }

  // Radio
  &--radio {
    .radio {
      &__view {
        width: 20px;
        height: 20px;
        position: relative;
        display: block;

        &:before, &:after {
          content: "";
          position: absolute;
          z-index: 1;
          transition: $transition-all;
          border: 2px solid #fff;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          left: 0;
          top: 0;
          transform: translateX(0) translateY(0);
        }
        &:after{
          border-color: transparent;
        }

        &.is-checked {
          &:before, &:after {
            border-color: $color-text;
          }

          &:after {
            width: 40%;
            height: 40%;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            background-color: $color-text;
          }
        }
      }
    }
  }
}
