.contacts{

  $this: &;

  text-align: right;
  color: $color-text-convert;

  &__bottom{
    padding-top: 15px;

    @include media('<sm') {
      padding-top: 45px;
    }
  }

  &__top{

  }

  &__image{
    margin-top: 10px;

    @include media('<sm') {
      margin-top: 20px;
    }
  }

  .text{
    line-height: 31px;
  }

  a{
    color: $color-text-convert;
    transition: $transition-all;
    
    &:hover{
      color: $color-hover-convert;
    }
  }

  &--mode-footer{
    color: $color-pagination;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 106px $padding-tablet 55px;

    @include media('>md') {
      display: none;
    }


    @include media('<md') {
      padding-left: $padding-tablet-vertical;
      padding-right: $padding-tablet-vertical;
    }

    @include media('<sm') {
      flex-wrap: wrap;
      padding: 62px $padding-mobile;
    }


    #{$this}{
      &__top, &__bottom{
        flex-basis: 50%;

        @include media('<sm') {
          flex-basis: 100%;
        }
      }

      &__top{
        text-align: left;
      }
      &__bottom{
        padding-top: 0;

        @include media('<sm') {
          text-align: left;
        }
      }
    }

    a{
      color: $color-pagination;
      
      &:hover{
        color: $color-pagination;
      }
    }
  }
}