.input-hidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.field {
  position: relative;
  margin-bottom: $padding;

  &__input {
    display: block;
    width: 100%;
    font-family: $font-default;
    font-weight: 400;
    font-size: $body-font-size;
    line-height: $body-font-size + 4;
    padding: $padding-sm;
    color: $color-text;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    transition:$transition-all;

    &::placeholder {
      transition:$transition-all;
      color: $color-text;
      opacity: 1;
    }

    &:not([value=""]), &:focus {
      border-bottom-color: $color-text;

      &::placeholder {
        opacity: 0;
      }

      & ~ .field {
        &__label {
          @extend .is-focus;
        }
      }
    }
  }

  &__label {
    position: absolute;
    transition:$transition-all;
    font-size: $body-font-size;
    line-height: $body-font-size + 4;
    left: $padding-sm;
    top: 10px;
    color: $color-text;

    &.is-focus {
      font-size: $body-font-size - 4px;
      line-height: $body-font-size;
      top: -8px;
      left: 0;
      color: $color-text;
    }
  }
}

.field-row {
  margin-left: $grid-gutter-width / 2 * -1;
  margin-right: $grid-gutter-width / 2 * -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  .col {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}


::placeholder {
  color: #999999;
  font-size: 15px;
}