.page-footer{
  color: #fff;
  height: $footer-height;
  z-index: 2;

  &>.container-fluid{
    height: 100%;
    @include media('<=md') {
      padding: 0;
    }
  }

  .title{
    color: $color-text-contrast;
    margin-bottom: 10px;

    @include media('<sm') {
      margin-bottom: 38px;
    }
  }

  &__container{
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;


    @include media('<=md') {
      flex-wrap: wrap;
      height: auto;
    }
  }

  &__buttons{
    display: flex;
    position: absolute;
    left: 60%;
    top:0;
    transform: translateX(-50%);
    @include media('<=md') {
     display: none;

    }
  }

  &__btn{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    @include media('<=md') {
      right: $padding-tablet;

     }
    @include media('<sm') {
      right: 0;
    left: 0;
    transform: translateY(-100%);
     }
  }

  &__block{
    width: 60%;
    padding-top: 60px;


    // @include media('<=lg') {
    //   padding-left: $padding-tablet; 
    //   padding-right: $padding-tablet; 
    // }

    @include media('<=md') {
      width: 100%;
      margin-right: 0;
      padding-left: $padding-tablet-vertical; 
      padding-right: $padding-tablet-vertical; 
      padding-bottom: 73px;

    }

    @include media('<sm') {
      padding: 32px $padding-mobile 123px;
    }

    &--contrast{
      position: relative;
      width: 40%;
      background-color: $color-bg-contrast;
      color: $color-text-convert;

      @include media('<=md') {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
      @include media('<sm') {
        padding-top: 61px;
        padding-bottom: 35px;

      }

      &:before{
        content: '';
        position: absolute;
        left: calc(100% - 1px);
        top: 0;
        bottom: 0;
        width: 1000px;
        background-color: inherit;
        @include media('<=md') {
         display: none;
    
        }
      }

      .title{
        color: $color-text-convert;
        margin-bottom: 10px;
      }

      .text{
        color: rgba($color-text-convert, .7);
        @include media('<=lg') {
          line-height: 1.2;
        }
      }
    }
  }

}