.page-header{
  color: #fff;
  position: absolute;
  top:0;
  left: 0;
  right:0;
  z-index: 2;
  
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 75px 0;
    @include media('<=lg') {
      padding: 30px 0;

    }

    @include media('<sm') {
      font-size: 30px;
      line-height: 30px;
    }
   
  }

  &__part{
    display: flex;
    align-items: center;
  }

  .contacts{
    position: absolute;
    top: calc(100% + 3px);
    right: 4px;
    z-index: 2;
    @include media('<=md') {
      display: none;
    }
  }
  
  .navbar{
    @include media('<sm') {
      display: none;
    }
  }

  .social{
    padding-left: $padding-md;
    @include media('<=md') {
      display: none;
    }

    @include media('<sm') {
      display: flex;
    }
  }

}

.logo{
  font-size: 37px;
  line-height: 37px;
  color: $color-text-convert;
  transition: $transition-all;

  @include media('<sm') {
    font-size: 30px;
    line-height: 30px;
  }

  &:hover{
    color: $color-hover-convert;
  }
}