.icon-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba($color-bg, .2);
  color: $color-text-convert;
  font-size: 14px;
  line-height: 18px;
  transition: $transition-all;

  &:hover{
    color: $color-text-contrast;
    background-color: $color-bg;
  }
}