.main-slider{
  color: $color-text-convert;

  &__slide{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 198px;
    height: calc(100vh - #{$footer-height});

    @include media('<=lg') {
      padding-top: 120px;
    }

    @include media('<=md') {
      padding-top: 150px;
      height: 97.4vh;
    }

    @include media('<md') {
      height: 740px;
    }

    @include media('<sm') {
      padding-top: 110px;
      height: 100vh;

      @media (orientation: landscape) {
        height: 500px;
      }
    }

  
  }

  &__content{
    padding-top: 6px;
    width: 100%;
    padding-right: 50%;


    @include media('<=lg') {
      padding-right: 300px;
    }

    @include media('<=md') {
      padding-right: 0;

    }

    .title{
      // font-size: calc( (100vw - 480px)/(1280 - 480) * (68 - 30) + 30px);
      // &--md{
      //   width: 70%;
      // }
    }
  }

  &__pagination-container{
    position: relative;

    .swiper-pagination{
      width: auto;
      top: -74px;
      left: -5px;

    @include media('<sm') {
      top: -104px;
      left: -4px;
    }

    
    }
  }


  &.swiper-container-horizontal{

    .swiper-pagination{
         &-bullet{
           width: 12px;
           height: 12px;
           opacity: .3;
           border: 2px solid $color-text-convert;
           background-color: transparent;
           margin: 0 5px;
           transition: $transition-all;
     

           @include media('<sm') {
            width: 8px;
            height: 8px;
            margin: 0 4px;
          }

           &-active{
             opacity: 1;
             background-color: $color-text-convert
           }
         }
       
     }
  }
 

  .navbar{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 3;
    display: none;


    @include media('<sm') {
      display: flex;
      justify-content: center;
    }
  }
}