$transition-modal: all .3s ease-out;

.modal {
  width: 0;
  background-color: $color-bg;
  padding: 80px 0;
  overflow-y: auto;
  position: relative;
  opacity: 0;
  cursor: default;
  z-index: 2;
  transition: $transition-modal;

  @include media('<lg') {
    padding: 50px 0;
  }


  .title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 6px;

    @include media('<sm') {
      font-size: 18px;
    }
  }

  .text {
    font-size: 20px;
    line-height: 36px;

    @include media('<sm') {
      font-size: 16px;
      line-height: 27px;
    }
  }

  &__container {
    width: 672px;
    margin: 0 auto;

    @include media('<lg') {
      width: 62.4%;
    }

    @include media('<sm') {
      width: 100vw;
      padding-left: $padding-mobile;
      padding-right: $padding-mobile;
    }
  }

  &__title{
    font-size: 26px;
    line-height: 28px;
    font-weight: 900;

  }

  &__img {
    margin: 72px 0 61px;

    @include media('<sm') {
      margin: 40px 0 20px;
    }
  }

  &__description{
    font-size: 26px;
    line-height: 46px;

    @include media('<sm') {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__description, .text{
    padding-bottom: 110px;

    @include media('<sm') {
      padding-bottom: 36px;
    }
  }

  .btn-close {
    position: fixed;
    top: 84px;
    left: calc(20% + 127px);
    font-size: 29px;
    color: $gray;
    cursor: pointer;
    transition: $transition-modal;

    &:hover {
      color: rgba($gray, 0.8);
    }

    @include media('<lg') {
      top: 40px;
      left: calc(20% + 6%);
    }

    @include media('<md') {
      left: calc(8% + 6%);
    }

    @include media('<sm') {
      top: auto;
      left: auto;
      right: $padding-mobile;
      bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      // border-radius: 50%:
      background-color: $color-bg-contrast;
      color: $color-text-convert;
      
    }
  }

  

  &--is-opening {
    width: 80%;
    opacity: 1;

    @include media('<md') {
      width: 92%;
    }

    @include media('<sm') {
      width: 100%;
    }
  }
}

.modal-container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  transition: $transition-modal;

  &--is-visible {
    visibility: visible;
    opacity: 1;
    
    .modal-overlay{
      @extend .is-active;
    }
  }
}

.modal-overlay{
  position: absolute;
  background-color: rgba($black, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  z-index: 1;
  transition: $transition-modal;

  &.is-active{
    width: 20%;
  }
}