.navbar{
  display: flex;
  &__item{
    display: flex;
  }
  &__link{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $body-font-size;
    font-weight: 500;
    padding: $padding - 2 $padding*2;
    color: $color-text-convert;
    border-radius: 4px;
    cursor: pointer;
    transition: $transition-all;


    @include media('<sm') {
      font-size: 14px;
      line-height: 16px;
      padding-left: 0;
      padding-right: 0;
      padding: 11px 0;
      width: 90px;
    }

    &--active{
      background-color: $color-text-contrast;

    }

    &:hover{
      color: $color-hover-convert;
    }
  }
}