.pagination{
  font-size: 14px;
    line-height: 16px;
    color: $gray;
    position: absolute;
    right: 14.3%;
    top: -42px;
    bottom: auto;
    left: auto;
    width: auto;

    @include media('<=md') {
      right: 0;

    }
}