.services-slider{

  &__slide{
    // padding-right: 15%;
    padding-left: 50px;

    @include media('<=lg') {
      padding-right: 0;
      // padding-left: $padding-tablet-vertical;
    }

    @include media('<=md') {
      padding-left: $padding-tablet-vertical; 
      padding-right: $padding-tablet-vertical; 
    }

    @include media('<sm') {
      padding-left: $padding-mobile;
      padding-right: $padding-mobile;
    }
  }

  .pagination{
    top: 40px;
    color: #fff;
    
    @include media('<=md') {
      right: $padding-tablet-vertical; 
    }

    @include media('<sm') {
      right: $padding-mobile;
    }
  }
}