h1, .title{
  font-size: 68px;
  line-height: 1.2;
  font-weight: 900;
  margin-bottom: 47px;

  @include media('<=lg') {
    font-size: 40px;
    line-height: 1.0;
    margin-bottom: 20px;
  }

  @include media('<=md') {
    font-size: 50px;
    line-height: 1.2;
  }

  @include media('<sm') {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 20px;
  }

  &--md{
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;

    @include media('<=lg') {
      font-size: 16px;
      line-height: 1.4;
    }

  }

  &--sm{
    font-size: 18px;
    line-height: 24px;
    font-weight: 900;
  }

}

p, .text{
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;

  @include media('<=lg') {
    font-size: 14px;
  }

  &--lg{
    font-size: 26px;
    line-height: 30px;
  }

  &--sm{
    font-size: 16px;
    line-height: 22px;
  }
}

.container-fluid{
  padding-left: $padding-desktop;
  padding-right: $padding-desktop;
  @include media('<=lg') {
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }
  @include media('<md') {
    padding-left: $padding-tablet-vertical;
    padding-right: $padding-tablet-vertical;
  }
  @include media('<sm') {
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
  }
}