<div class="main-slider__slide swiper-slide" style='background-image: url(@@bg)'>
  <div class="container-fluid">
    <div class="main-slider__content">
      <h1 class="title">@@title</h1>
      <h2 class="title title--md">@@subtitle</h2>
    </div>
  </div>
</div>