<div class="main-slider swiper-container">
  <div class="swiper-wrapper">

      @@include('sliders/main/slide.html', {
        "title": "Products made to order to meet your business needs", 
        "subtitle": "We focus on consumer and employee experience robotization" ,
        "bg": "img/content/main1.jpg"
      })
      @@include('sliders/main/slide.html', {
        "title": "PeoplePartner.Ai - virtual HR to increase your employee efficiency", 
        "subtitle": "Аs a personal assistant of every employee, PeoplePartner.Ai solves all routine tasks. As a virtual HR,  it provides managers with  information concerning employees essential to make decisions. CEOs will admire its functionality, as well as effiency increase",
        "bg": "img/content/main2.jpg"
      })
      @@include('sliders/main/slide.html', {
        "title": "Consumer experience solutions", 
        "subtitle": "Using IT tools we help you improve your customer’s satisfaction and loyalty. Аs a personal assistant of every consumer Brand owned Virtual assistant cares about him, helps with services & questions. For CMO it gives the direct interactive GDPR ready channel with the customer,  helps to review all analytics in dashboards.",
        "bg": "img/content/main3.jpg"
      })
      @@include('sliders/main/slide.html', {
        "title": "Service design — improved value", 
        "subtitle": "We strive to increase the value for your consumers, fine tuning the business processes within a company." ,
        "bg": "img/content/main4.jpg"
      })
      
  </div>
  <div class="container-fluid">
    <div class="main-slider__pagination-container">
      <div class="swiper-pagination"></div>
    </div>
  </div>
  @@include('navbar.html')
</div>
