@@include("head.html")

<body>

<div id="page-wrap" class="page-wrap page--index">

  @@include("header.html")

  <div id="page-body" class="page-body">

        <div class="page-content">
          @@include("sliders/main/slider.html")

        </div>
        
  </div>

  @@include("footer.html")

  @@include("modals/index.html")

</div>

<!-- scripts -->
@@include("scripts.html")

</body>
</html>
