*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: $body-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// font default
//-----------------------------------------------------------------------------------
body, input, button, select, textarea {
  font-family: $font-default;
  line-height: 1.2;
}

// Common classes
//-----------------------------------------------------------------------------------
.clear {
  clear: both;
}

%clear-fix:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}

// text align
//-----------------------------------------------------------------------------------
.text {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

pre, code {
  font-family: monospace;
}

a {
  display: inline-block;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

img {
  position: relative;
  display: inline-block;
  border: none;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  font: 300 12px / 1 $font-default;
  text-align: center;

  &:after {
    content: "Broken Image of " attr(alt);
    display: block;
    color: rgb(100, 100, 100);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }
}

svg {
  pointer-events: all;
}

// form
//-----------------------------------------------------------------------------------
input, textarea {
  appearance: none;
  box-shadow: none;
}

textarea {
  resize: none;
}

input {
  vertical-align: middle;
  margin: 0;
  padding: 0;

  ::-ms-clear,
  ::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &[type="search"] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

button,
input[type='reset'],
input[type='submit'],
input[type='button'],
input[type='image'] {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  background: none;
  outline: 0;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}

b {
  font-weight: 600;
}

label {
  cursor: pointer;
}

// WebKit/Blink Browsers
//-----------------------------------------------------------------------------------
::selection {
  background: $color-selection;
}

// vertical align middle
//-----------------------------------------------------------------------------------
%vafix {
  font-size: 0;

  &:before {
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle;
  }
}

%btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;

  &:after,
  &:before {
    flex: 1 auto;
    content: '';
  }
}

.container {
  max-width: 100%;
}

.container,
.container-fluid {
  @include media('<lg') {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include media('<md') {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row {
  @include media('<lg') {
    margin-left: -30px;
    margin-right: -30px;
  }

  @include media('<md') {
    margin-left: -20px;
    margin-right: -20px;
  }

  &.mod-gutter-small {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.col {
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
}

.col-sm-auto {
  @include media('>=sm') {
    flex-basis: auto;
  }
}

.col,
[class*="col-xs"],
[class*="col-sm"],
[class*="col-md"],
[class*="col-lg"] {
  @include media('<lg') {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include media('<md') {
    padding-left: 20px;
    padding-right: 20px;
  }

  &.mod-gutter-small {
    padding-left: 20px;
    padding-right: 20px;
  }

  &.visible-md {
    display: none;

    @include media('<md') {
      display: block;
    }
  }

  &.hidden-md {
    @include media('<lg') {
      display: none;
    }
  }

  &.hidden-sm {
    @include media('<md') {
      display: none;
    }
  }

  &.hidden-xs {
    @include media('<sm') {
      display: none;
    }
  }
}
