.icon {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow_left {
	width:(8/12)*1em;
}
.icon-arrow_right {
	width:(8/12)*1em;
}
.icon-cross {
	width:(28/28)*1em;
}
.icon-fb {
	width:(8/17)*1em;
}
.icon-google {
	width:(16/16)*1em;
}
.icon-lin {
	width:(16/15)*1em;
}
.icon-logo {
	width:(40/38)*1em;
}
.icon-pdf {
	width:(20/20)*1em;
}
.icon-search {
	width:(40/40)*1em;
}
.icon-telegram {
	width:(16/14)*1em;
}
