html {
  -webkit-overflow-scrolling: touch;
}

html,
body {
  min-height: 100%;
}

.page-wrap,
.footer {
  width: 100%;
  margin: 0 auto;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: #fff;

  & > .container {
    background-color: #fff;
  }
}

body.scroll-disabled {
  overflow: hidden;
}

.container-fluid {
  width: 100%;
  max-width: 1920px;
}

.page-content {
  flex: 1;
  overflow: hidden;

  @include media('<md') {
    flex-basis: 100%;
  }

  @include media('<sm') {
    margin-bottom: 30px;
  }

  &.mod-inner-sidebar {
    margin-bottom: 0;
  }
}


