// grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1440px
);

// grid containers
$container-max-widths: (
  sm: 768px,
  md: 1024px,
  lg: 1280px
);

// grid columns
$grid-columns:               12 !default;
$grid-gutter-width:          30px !default;

// is grid with flex
$enable-flex: true;

// font

$font-default: 'Roboto', sans-serif;

$body-font-size: 16px;

$padding: 16px;
$padding-sm: $padding/2;
$padding-md: $padding*2;
$padding-lg: $padding*3;

$footer-height: 260px;
$padding-desktop: 140px;
$padding-tablet: 130px;
$padding-tablet-vertical: 100px;
$padding-mobile: 27px;

//colors-variables
$blue: #2F80ED;
$white: #ffffff;
$black: #000000;
$gray: #37393C;

//colors
$color-text: $black;
$color-text-convert: $white;
$color-text-contrast: $blue;
$color-bg: $white;
$color-bg-contrast: $blue;
$color-pagination: $gray;


// selection color
//-----------------------------------------------------------------------------------
$color-selection: #2F97ED;

$color-hover-convert: rgba($color-text-convert, .8);


//transitions
$transition-all: all ease .15s;
$transition-color: color ease .15s;
$transition-bgc: background-color ease .15s;
