<div class="services-slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
  
      @@include('sliders/services/slide.html', {
        "title": "Outsourcing partner for enterprise", 
        "description": "Product Development Service, Dedicated Teams, Service Design, UX/UI Design, Design System. Starting with the service design stage, we put in a lot of effort to understand the real needs of our client. We translate this from Business to IT language, then create and develop the product" 
      })
  
      @@include('sliders/services/slide.html', {
        "title": "D2 in-house solutions - are highly functional and secure platforms", 
        "description": "Media  Platform, incl. control panel to editors’ team, as well as all types of interfaces and content. Direct To Consumer Platform provides our clients with a corporate communication platform, with e-commerce module, loyalty club besides other services. " 
      })

      @@include('sliders/services/slide.html', {
        "title": "Virtual assistants", 
        "description": "D2’s products with voice interface and  messenger dialog interface provides the customer with a seamless, comfortable experience. E.g. Healthcare professional seeking advice, marketing consumer tools..." 
      })
        
    </div>
  </div>

  <div class="pagination swiper-pagination"></div>

</div>
