<div class="services-slider__slide swiper-slide">
  <h3 class="title title--sm" data-swiper-parallax="-200">@@title</h3>
  <p class="text text--sm" data-swiper-parallax="-800">@@description</p>
</div>