<div class="customer-slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
  
      @@loop('sliders/customers/slide.html', [
      {"logo": "img/content/customer1.jpg"},
      {"logo": "img/content/customer2.jpg"},
      {"logo": "img/content/customer3.jpg"},
      {"logo": "img/content/customer4.jpg"},
      {"logo": "img/content/customer5.jpg"}
      ])
  
    </div>
  </div>

  <div class="pagination swiper-pagination"></div>

</div>