<div class="modal" modal-id='about-us'>
  <button class="btn-close js-close-all-modals">
    <svg class='icon icon-cross'>
      <use xlink:href='img/sprite.svg#cross'></use>
    </svg>
  </button>

  <div class="modal__container">
    <h3 class="modal__title">About us</h3>

    <div class="modal__img">
      <img src="./img/content/about.jpg" alt="">
    </div>


    <p class="modal__description">D2 LLC is an IT outsourcing company based in Ukraine, specializing in client
      enterprise digitalization. D2's primary domains are consumer & employee experience – automatization, inc.
      omnichannel (direct to customer & employee) solutions.</p>

    <h4 class="title title--sm">Our clients include:</h4>
    <p class="text">Ukrainian Energy & Metal Corporations, (Metinvest, DTEK, Interpipe, Naftogaz)
      National Post (Ukrposhta)
      NGO (United Nations)
      International FMCG & healthcare companies, (Pepsico, Unilever, Nestle, DeLonghi Group, JTI, Carlsberg, KUSUM,
      Polpharma)
      Ukrainian FMCG & healthcare retail companies, (Nemiroff, Chumak, WOG, Darnitsa, IDS Borjomi)
      Media (Novoye Vremya).</p>

    <h4 class="title title--sm">D2 is composed of over 70 IT specialists:</h4>
    <p class="text">
      back-end engineers and architects, (Asp.net, Node.js, Java)
      middleware engineers (Corezoid)
      Android & IOS service design (UX/UI)
      front-end engineers (React, Angular).</p>

    <p class="text">D2 combines expertise from an array of IT Products
      (PeoplePartner.Ai https://peoplepartner.ai/
      IT Platforms (websites, apps, chatbot interfaces)
      Platforms utilized:
      Corporate Communication Platform
      Multimedia Platform
      Direct to Customer Platform (inc. e-commerce module)
      Microcredit Service Platform.</p>

    <p class="text">IT Services Supplied: Product development, Service design, UX/UI design, System design and technical
      support.
      Additionally, D2 develops Virtual Digital Assistants (Consumer, Professional & Employee)</p>

  </div>

</div>