<div class="modal" modal-id='career'>
  <button class="btn-close js-close-all-modals">
    <svg class='icon icon-cross'>
      <use xlink:href='img/sprite.svg#cross'></use>
    </svg>
  </button>

  <div class="modal__container">
    <h3 class="modal__title">Career</h3>

    <div class="modal__img">
      <img src="./img/content/career.jpg" alt="">
    </div>


    <p class="modal__description">The D2 structure consists of the teams,  led by leaders with experience in large IT
      companies, such as Epam, Infopulse, Softserve. They are mentors and thus form a highly qualified team, constantly
      improving its skills. We conduct special trainings on soft skills (oratory, etc.), as well as on complex skills
      (depending on the specialty that we help in choosing and paying for specialized education), increasing the
      competencies of all employees .
    </p>

    <h4 class="title title--sm">Our main points:</h4>
    <div class="text">
      <ul>
        <li>- We make complex interesting turnkey projects for the largest Ukrainian enterprise clients; </li>
        <li>- We develop a mentoring system;</li>
        <li>- We provide modern equipment;</li>
        <li>- We carry out development cards for employees in the company and profession;</li>
        <li>- we carry out regular corporate events.</li>
      </ul>
    </div>

    <h4 class="title title--sm">We are pleased to be residents of Unit City, which has its own ecosystem and
      closed club for residents, which erases the boundaries of networking between companies and communities, as well
      as:
    </h4>
    <div class="text">
      <ul>
        <li>- access to many events for free or at loyal prices that contribute to professional growth,</li>
        <li>- access to unique modern laboratories;</li>
        <li>- free gym and sports fields;</li>
        <li>- free parking;</li>
        <li>- terraces and outdoor areas for recreation;</li>
        <li>- convenient cafes and restaurants with a good menu</li>
      </ul>
    </div>

    <p class="text">Build your awesome career with us! Find job openings that you were looking for, send your CV, and become the one of D2 team!</p>

    <div class="text">
      <ul>
        <li>Please, contact our HR Lead  </li>
        <li>Alina Antipova  </li>
        <li><a href="mailto:hr@d2.digital">hr@d2.digital</a></li>
        <li><a href="tel:+380987541835">+380987541835</a></li>
      </ul>
    </div>

  </div>

</div>